{% extends "utils/base.html" %}
{% load static %}

{% block start %}
    <div class="products">
        <div class="container">
           
            <h1 class="pt-5 pb-5">Popular Products</h1>

            <div class="row">
                {% for product in products %}
                    <div class="col-md-3 pb-5">
                        <div class="card pt-5">
                            {% if product.product.getFirstImage.0 %}
                                <img style="height: 250px;width: 220px;margin:auto" 
                                class="card-img-top" src="/media/{{product.product.getFirstImage.1}}" alt="/media/{{product.product.getFirstImage.1}}">
                            {% else %}
                                <img style="height: 250px;width: 220px;margin:auto" 
                                class="card-img-top" src="{{product.product.getFirstImage.1}}" alt="{{product.product.getFirstImage.1}}">
                            {% endif %}
                            <div class="card-body">
                                <p class="card-text">
                                    <a href="{% url "product_details" product.product.product_sku %}" class="text-dark">{{product.product.item_name}}</a>
                                </p>
                                <h4 class="pb-0 pt-0">₹{{product.vendor_selling_price}}</h4>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
    </div>



    {% include "utils/footer.html" %}

    <!-- Modal -->
    {% include "utils/login_model.html" %}
    
    
{% endblock start %}