
<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <form method="GET">
                    <ul>
                        <h6 class="mt-5">Brands</h6>
                            
                         {% for brand in brands %}
                            <li><a href="/?brand={{brand}}">{{brand}}</a></li>
                          {% endfor %}
                    
                    </ul>
                </form>
            </div>
            
    
            {% if user.is_authenticated and request.user.is_shopkeeper == False %}

            <div class="col-md-3">
                <ul>
                    <h6 class="mt-5">Account</h6>
                        <li><a href="{% url "get_cart" %}">My Orders</a></li>
                        
                    </ul>
                </div>
                {% endif %}
            <div class="col-md-3">
                <ul>
                    <h6 class="mt-5">Social</h6>
                    <li><a href="https://www.facebook.com/"><i class="fab fa-facebook"></i> Facebook</a></li>
                    <li><a href="https://x.com/?mx=2"><i class="fab fa-twitter"></i> Twitter</a></li>
                    <li><a href="https://www.instagram.com/"><i class="fab fa-instagram"></i> Instagram</a></li>
                    <li><a href="https://www.youtube.com/"><i class="fab fa-youtube"></i> Youtube</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>